@using BusBookingApp.Entity
@model CreateRouteModel

<h5 class="display-4 container">Create Route</h5>
<hr />
<form asp-controller="Admin" asp-action="CreateRoute" method="post">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group row mb-2">
                <label class="col-form-label col-sm-3">Departure City:</label>
                <div class="col-sm-9">
                    <select asp-for="DepartureCityId" class="form-select">
                        <option selected>Kalkış Şehri.</option>
                        @foreach (var city in ViewBag.Cities)
                        {
                            <option value="@city.CityId">@city.CityName</option>
                        }
                    </select>
                    <span asp-validation-for="DepartureCityId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row mb-2">
                <label class="col-form-label col-sm-3">Arrival City:</label>
                <div class="col-sm-9">
                    <select asp-for="ArrivalCityId" class="form-select">
                    <span class="text-danger">@ViewBag.ErrorMessage</span>
                        <option selected>Varış Şehri.</option>
                        @foreach (var city in ViewBag.Cities)
                        {
                            <option value="@city.CityId">@city.CityName</option>
                        }
                    </select>
                    <span asp-validation-for="ArrivalCityId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row mb-2">
                <label class="col-form-label col-sm-3">Date</label>
                <div class="col-sm-9">
                    <input asp-for="Date" type="date" class="form-control" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row mb-2">
                <label class="col-form-label col-sm-3">Time:</label>
                <div class="col-sm-9">
                    <input asp-for="Time" type="time" class="form-control"/>
                    <span asp-validation-for="Time" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row mb-2">
                <label class="col-form-label col-sm-3">Price:</label>
                <div class="col-sm-9">
                    <input asp-for="Price" type="text" class="form-control" placeholder="₺" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row mb-2">
                <label class="col-form-label col-sm-3">Peron Number:</label>
                <div class="col-sm-9">
                    <input asp-for="PeronNumber" type="text" class="form-control" placeholder="" />
                    <span asp-validation-for="PeronNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row mb-2">
                <label class="col-form-label col-sm-3">Bus Seat Capacity:</label>
                <div class="col-sm-9">
                    <select asp-for="BusId" class="form-select">
                        <option selected>Bus Seat Capacity</option>
                        @foreach (var bus in ViewBag.Buses)
                        {
                            <option value="@bus.BusId">@bus.BusSeatCapacity</option>
                        }
                    </select>
                    <span asp-validation-for="BusId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row mb-2 mt-3 offset-3">
                <div class="col-sm-3">
                    <button type="submit" class="btn btn-primary">Save Route</button>
                    <button asp-controller="Admin" asp-action="ListRoutes" type="submit" class="btn btn-warning">Back</button>
                </div>
            </div>
        </div>
    </div>
</form>


