@using BusBookingApp.Entity
@model List<Customer>

    @section Styles{
    @await Html.PartialAsync("_DataTablesCssPartial")
}
    @section Scripts{
    @await Html.PartialAsync("_DataTablesScriptsPartial")
}

<div class="container mt-4">
    <div class="col-sm-12">
        <h3>Customer List</h3>
        <hr />
        <a asp-controller="Admin" asp-action="ListRoutes" type="submit" class="btn btn-warning">Back</a>
        <br />
        <br />
        <table class="table table table-bordered shadow-sm mt-3" id="myTable">
            <thead>
                <tr>
                    <th>Seat Number</th>
                    <th>Customer Name</th>
                    <th>Customer Surname</th>
                    <th>Phone Number</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Ticket.SeatNumber</td>
                        <td>@item.CustomerName</td>
                        <td>@item.CustomerSurname</td>
                        <td>@item.PhoneNumber</td>
                        <td>@item.Email</td>
                        <td>
                            <!-- Button trigger DeleteModal -->
                            <button type="button" asp-route-id=@item.CustomerId class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#DeleteModal_@item.CustomerId">
                                Delete
                            </button>

                            <!-- DeleteModal -->
                            <div class="modal fade" id="DeleteModal_@item.CustomerId" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Warning!</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p class="text-danger">This customer will be deleted!</p>
                                            <p>Are you sure?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                            <a asp-controller="Admin"
                                               asp-action="DeleteCustomer"
                                               asp-route-id="@item.CustomerId"
                                               class="btn btn-danger">Yes</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
